<img align="left" src="https://media1.tenor.com/m/oHK6jpOBWK4AAAAC/littlebigplanet-sackboy.gif" alt="real" width="280"/> 

```csharp
dogatorix@github
-------------------------
Skills: Web, Backend, Databases, SVG Graphics, Modding
Languages: JavaScript, HTML, CSS, Java, C++/C#, Python, Lua
Learning: Deno, TypeScript, Rust
Hobbies: Baking, Cooking, Gaming, Coding, Drawing
Repos: {{ repoCount }} ({{ publicRepos }} Public)
Discord: @dogatorix
```
<p align="left">
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <img alt="#6B5369" src="https://via.placeholder.com/15/6B5369/000000?text=+" width="25" height="20" /><img alt="#251522" src="https://via.placeholder.com/15/251522/000000?text=+" width="25" height="20" /><img alt="#402B3E" src="https://via.placeholder.com/15/402B3E/000000?text=+" width="25" height="20" /><img alt="#160C14" src="https://via.placeholder.com/15/160C14/000000?text=+" width="25" height="20" /><img alt="#090308" src="https://via.placeholder.com/15/090308/000000?text=+" width="25" height="20" />
</p>
