```zsh
> neofetch
```

<img align="left" src="https://dogatorix.com/avatar/728394648174723192" alt="My Current Avatar" width="280" /> 

```csharp
dogatorix@github
-------------------------
Frameworks: React, Express, PostgreSQL, Three.js
Languages: JavaScript, TypeScript, HTML, CSS, Java, C++/C#, Python
Learning: Deno, Bun, Fresh
Hobbies: Baking, Cooking, Gaming
Commits: {{ totalCommitsInPastYear }}
Repos: {{ repoCount }} ({{ publicRepos }} Public)
Discord: @dogatorix
```
<p align="left">
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  {{ #colors }}<img alt="#{{.}}" src="https://via.placeholder.com/15/{{.}}/000000?text=+" width="25" height="20" />{{ /colors }}
</p>
